<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="./lib/style.css">
<link rel="stylesheet" type="text/css" href="./lib/bootstrap.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


<div class="reu-container" ng-app="myApp" ng-controller="orderCtrl" >

    <div class = mini-header>AngularJS Crud Application </div>
        <table>
            <tr class="td-color">
                <th>Delete</th>
                <th>Edit</th>
                <th>Order ID</th>
                <th>Company Name</th>
                <th>Customer Address</th>
                <th>Ordered Item</th>
                <th>Order Cost</th>
                <th>Order Date</th>
            </tr>

        <tr ng-repeat="x in myData">
            <td align ="center">
                <button class="btn delete_btn" ng-click="deleteData(x._id)" ><i class="fas fa-times"></i></button>
            </td>
            <td>
                <button class="btn" ng-click="editData(x)">Edit</button>
            </td>
               <td>{{x.orderId}}</td>
               <td>{{x.companyName}}</td>
               <td>{{x.customerAddress}}</td>
               <td>{{x.orderedItem}}</td>
               <td>{{x.orderCost}}</td>
               <td>{{x.orderDate}}</td>
        </tr>

        </table>
    <div class ="row">
    <div class="col-md-6">
        {{infoMessage}}
    </div>
    <div class="col-md-6 " align="right">
        <right><button class="btn btn-secondary" ng-click="createForm()">Create</button></right>
        <right><button class="btn btn-secondary" ng-click="updateData()">Refresh</button></right>
    </div>
    </div>
    <div ng-show = "isCreateVisible">
    <form ng-submit="createData()">
        <p>Orderid: <input type="text" ng-model="orderid"></p>
        <p>Company Name: <input type="text" ng-model="cname"></p>
        <p>Customer Address: <input type="text" ng-model="caddress"></p>
        <p>Ordered Item: <input type="text" ng-model="oitem"></p>
        <p>Order Cost: <input type="text" ng-model="ocost"></p>
        <p>Order Date: <input type="text" ng-model="odate"></p>
        <p><input type="submit" value="submit"></p>

    </form>
    </div>
    <div ng-show = "invisible">
    <form ng-submit="saveData(uniqueid)">
        OrderID: <input type="text" ng-model="_orderId"><br>
        Company Name: <input type="text" ng-model="_companyName"><br>
        Customer Address: <input type="text" ng-model="_customerAddress"><br>
        Ordered Item: <input type="text" ng-model="_orderedItem"><br>
        Order Cost: <input type="text" ng-model="_orderCost"><br>
        Order Date: <input type="text" ng-model="_orderDate"><br>
        p><input type="submit" value="submit"></p>
    </form>
    </div>
</div>
</div>
<script src="./controller/orderCtrl.js"></script>
</body>
</html>