<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
    <tr class="w3-container">

        <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th>Delete</th>
                <th>Edit</th>
                <th>Order ID</th>
                <th>Company Name</th>
                <th>Customer Address</th>
                <th>Ordered Item</th>
                <th>Order Cost</th>
                <th>Order Date</th>
            </tr>


        <tr ng-repeat="x in myData">
            <td>
                <button class="w3-btn w3-ripple" ng-click="deleteData(x._id)">Delete</button>
            </td>
            <td>
                <button class="w3-btn w3-ripple" ng-click="editData(x)">Edit</button>
            </td>
               <td>{{x.orderId}}</td>
               <td>{{x.companyName}}</td>
               <td>{{x.customerAddress}}</td>
               <td>{{x.orderedItem}}</td>
               <td>{{x.orderCost}}</td>
               <td>{{x.orderDate}}</td>
        </tr>

        </table>

    <button ng-click="updateData()">Refresh</button><br>


    <form ng-submit="createData()">
        <p>Orderid: <input type="text" ng-model="orderid"></p>
        <p>CompanyName: <input type="text" ng-model="cname"></p>
        <p><input type="submit" value="submit"></p>
    </form>

    <form ng-submit="editData()">
        OrderID: <input type="text" ng-model="_orderId"><br>
        Company Name: <input type="text" ng-model="_companyName"><br>
        Customer Address: <input type="text" ng-model="_customerAddress"><br>
        Ordered Item: <input type="text" ng-model="_orderedItem"><br>
        Order Cost: <input type="text" ng-model="_orderCost"><br>
        Order Date: <input type="text" ng-model="_orderDate"><br>
    </form>




</div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {

        $scope.updateData = function() {
            $http({
                method : "GET",
                url : "http://localhost:3000/orders"
            }).then(function (response) {
                $scope.myData = response.data;
            });
        }
        $scope.updateData(); // Initial data load
        $scope.activeItem = "";
        $scope.setActive = function(activeitem) {
            $scope.activeItem = activeitem;
        }

        $scope.deleteData = function(itemId) {
            $http({
                method : "DELETE",
                url : "http://localhost:3000/orders/" + itemId
            }).then(function(response) {
                console.log(response.data);
                $scope.updateData();
            });
        }
        $scope.orderid = "";
        $scope.cname = "";
        $scope.caddress= "ehu";
        $scope.oitem = "hue";
        $scope.ocost = "";
        $scope.odate = "";

        $scope.createData = function() {
            var newData = {
                orderId: $scope.orderid,
                companyName: $scope.cname,
                customerAddress: $scope.caddress,
                orderedItem: $scope.oitem,
                orderCost: $scope.ocost,
                orderDate: $scope.odate
            }

            $http({
                method: "POST",
                url: "http://localhost:3000/orders/",
                data: newData
            }).then(function(response) {
                console.log(response.data);
                $scope.updateData();
            });
        }
        $scope.editData = function(active) {
            $scope._orderId = active.orderId;
            $scope._companyName = active.companyName;
            $scope._customerAddress = active.customerAddress;
            $scope._orderedItem = active.orderedItem;
            $scope._orderCost = active.orderCost;
            $scope._orderDate = active.orderDate;
        }
    });
</script>
</body>
</html>